* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 1.5rem;
  font-family: "Silkscreen", cursive;
  align-items: center;
}
h1 {
  color: white;
  margin-bottom: 2rem;
}
canvas {
  border: 3px solid white;
}
